{%load static%} {% block css_files%}
<link rel="stylesheet" href="{% static 'css/home_imagecontantname_style.css'%}"/>

{%endblock css_files%}

<div class="imgcontant">
  <div class="imgbox">
    <a href="{%url 'homepage' %}">
    <img src="{%static 'img/Avatar-Maker.png'%}" alt="" />
    </a>
  </div>
  <div class="namejob">
    <p class="name">
      <b>YİĞİTCAN ÇAKMAK</b><br />
      <div class="webdevoloper">Web Devoloper</div>
    </p>
  </div>
  <div class="horizontool"></div>

  <div class="info">
    <div id="email">
      <div class="iconbox">
        
          <img src="{% static 'img/icon/icon_email.png' %}" alt="email"/>
        
      </div>

      <div class="infoattribute">
        <p style="color: #535353; font-size: 0.6rem">EMAIL</p>

        <p>cakmak02273@gmail.com</p>
      </div>
    </div>
    <div id="phone">
      <div class="iconbox">
        <img src="{% static 'img/icon/icon_phone.png' %}" alt="phone" />
      </div>

      <div class="infoattribute">
        <p style="color: #535353; font-size: 0.6rem">PHONE</p>

        <p>(+90) 501 045 7501</p>
      </div>
    </div>

    <div id="calender">
      <div class="iconbox">
        <img src="{% static 'img/icon/icon_calender.png' %}" alt="calender" />
      </div>

      <div class="infoattribute">
        <p style="color: #535353; font-size: 0.6rem">BIRTHDAY</p>

        <p>JUNE 22 , 1999</p>
      </div>
    </div>

    <div id="link">
      <center>
        <a
          href="https://github.com/ygtcncakmak?tab=repositories"
          target="_blank"
          ><img src="{% static 'img/icon/icon_github.png' %}" alt="github"
        /></a>
        <a href="https://twitter.com" target="_blank"
          ><img src="{% static 'img/icon/icon_twitter.png' %}" alt="twitter"
        /></a>
      </center>
    </div>
  </div>
</div>
