{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '../static/css/home_info_style.css'%}" />
    
    
    {% block css_files%}{%endblock css_files%}
    <title>{%block title %} {%endblock%} | Home</title>
  </head>
  <body>
    
    {% include 'partials/_imagecontantname.html' %}

{% comment %} 

    {% include 'partials/_info.html' %} {% endcomment %}

    
    <div class="icerik">



  
      <nav class="navbar">
        <center>
          <ul>
            <li><a href="index" class="nav-item">home</a></li>
            <li><a href="about" class="nav-item">about</a></li>
            <li><a href="blogs" class="nav-item">blog</a></li>
          </ul>
      </center>
        
      </nav>
    
      <div class="page-name">
        <div class="page-name-box">
          <center>
            {%block pagename%}
        
            {%endblock pagename%}
          </center>
        </div>
        
      
      </div>
      
        <div class="page-content">
          <div class="page-content-info">
          
            {%block content%}
          
            {%endblock content%}

          </div>
        </div>
  
    </div>


  <script src="{% static 'js/navbar.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  
     {%block js_files%} {%endblock js_files%}
  </body>
</html>
